services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        DATABASE_URL: ${DATABASE_URL}
        DIRECT_DATABASE_URL: ${DIRECT_DATABASE_URL}
    volumes:
      - .:/app:delegated
      - /app/node_modules
    env_file:
      - .env
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
      - DATABASE_URL=${DATABASE_URL}
      - DIRECT_DATABASE_URL=${DIRECT_DATABASE_URL}
    stdin_open: true
    tty: true

  app_prod:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
        DIRECT_DATABASE_URL: ${DIRECT_DATABASE_URL}
        NODE_ENV: production
        NEXT_TELEMETRY_DISABLED: 1
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - PORT=3000
      - DATABASE_URL=${DATABASE_URL}
      - DIRECT_DATABASE_URL=${DIRECT_DATABASE_URL}
    restart: unless-stopped
